
  body 
  {
    background-color:#292F24;
  }
  
  .texts
  {
    color: #FFFFFF;
    
    /* disables the text fom being highlighted and thus being copied by the user!!! */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  div.top-panel
  {
    top: 10;
  }
  
  button.opbut
  {
    position:absolute;
   
    left:20;
  }
  
  .warning
  {
    color: #FF0000;
    /* disables the text fom being highlighted and thus being copied by the user!!! */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  input
  {
    color: #00FF00;
  }
  
  /* created in--> http://css3buttongenerator.com/  */
  .button
  {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 36;
    -moz-border-radius: 36;
    border-radius: 36px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    border: solid #ccc4c5 3px;
    text-decoration: none;
  }
  
  /* created in--> http://css3buttongenerator.com/  */
  .button:hover 
  {
    background: #59bfff;
    background-image: -webkit-linear-gradient(top, #59bfff, #3498db);
    background-image: -moz-linear-gradient(top, #59bfff, #3498db);
    background-image: -ms-linear-gradient(top, #59bfff, #3498db);
    background-image: -o-linear-gradient(top, #59bfff, #3498db);
    background-image: linear-gradient(to bottom, #59bfff, #3498db);
    text-decoration: none;
  }
  
  #heading
  {
    text-align: center;
    
    /* disables the text fom being highlighted and thus being copied by the user!!! */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .footer
  {
    color: #FFFFFF;
    text-align: right;
    font-family: Arial;
    font-size: 10px;
    
    /* disables the text fom being highlighted and thus being copied by the user!!! */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    
  	/* http://www.cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/ --> putting the footer at the bottom right of the page */
  	position:absolute;
    bottom:0;
    right:0;
  }
  
 
 
  /*
    http://www.htmlgoodies.com/beyond/javascript/article.php/3458851
    http://www.steamdev.com/zclip/
    http://zeroclipboard.org/
    
  */ 
  textarea.output
  {
    width: 950px;
	  height: 350px;
	  border: 3px solid #cccccc;
	  padding: 5px;
	  background-color: #800000;
	  color: #FFFFFF;
	  font-family: Tahoma, sans-serif;
	  background-position: bottom right;
	  background-repeat: no-repeat;
  }
  
  /* change the highlight color of the textarea!!*/
  textarea::selection { background:#F0F0F0; color:#000000; }
  textarea::-moz-selection { background:#F0F0F0; color:#000000; }
  textarea::-webkit-selection { background:#F0F0F0; color:#000000; }
  
  
  .opbut
  {
    background-color: rgb(94, 94, 94); 
    border-radius: 10px; 
    border: 2px solid rgb(237, 237, 237); 
    display: inline-block; 
    cursor: pointer; 
    color: rgb(255, 255, 255); 
    font-family: arial; 
    font-size: 17px; 
    padding: 4px 10px; 
    text-decoration: none; 
    text-shadow: 0px 1px 0px rgb(43, 102, 94);
  }
  
  .opbut:hover
  {
    border: 2px solid #FF0000;
    color: #FF0000;
  }
  
  .logo
  {
    position:absolute;
    top:140;
    right:20;
    
  }
  
  #krexlogo
  {
    height: 200;
    width: 300;
  }
  
  #krexlogo:hover
  {
    height: 400;
    width: 600;
  }
  
